* {
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  background-color: #1b1b1b;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.container {
animation-duration: 0.7s;
}

.row {
  display: flex;
}

.search-item{
  border: 2px solid silver;
  display: flex;
  align-items: center;
  height: 40px;
}

.search-item>input, .search-item>label{
  height: 28px;
}

.client-list, .search-item {
  padding: 3%;

}

.short-inf {
  display: flex;
  align-items: center;
  margin: 3%;
  padding: 5%;
  background-color: #1d2124;

}

.short-inf:hover {
  background-color: rgba(93, 35, 118, 0.48);
  transform: scale(1.03);
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.short-img {
  display: flex;
}

.short-img img {
  width: auto;
  height: auto;
  max-width: 64px;
  max-height: 64px;
}

.left-sidebar {
  width: 25%;
  background-color: #5a6268;
}

li {
  list-style: none;
}

.right-preview {
  display: flex;
  width: 74%;
  align-items: flex-start;
}

.detail-img img {
  width: 80%;
  padding: 27px;
}

.detail-img {
  flex: 1;
}

.detail-text {
  flex: 3;
  padding: 20px;
}

.list-active {
  background-color: rgba(93, 35, 118, 0.38);
  transform: scale(1.03);
  box-shadow: #1d2124;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.header-title{
  flex: 1;
  text-align: center;
}

header{
  height: 45px;
  border-bottom: 1px solid silver;
  display: flex;
  align-items: center;
  background-color: #36404a;
}
