<header>
  <h3 class="header-title">My test task for Incode
    <a href="https://github.com/vladimir-pitchkurov/in-code-test-task" target="_blank">Look sources</a>
  </h3>
</header>

<div class="container">
  <div class="row">
    <div class="left-sidebar">
      <div class="search-item">
        <label>Search<i class="fas fa-search"></i></label>
        <input type="text" [(ngModel)]="searchString" name="search"/>
      </div>
      <ul class="client-list">
        <li *ngFor="let client of this.userList | searchStr : searchString" class="short-inf"
            (click)="toggleActiveCli(client)" [ngClass]="{'list-active':isActiveCli(client) }">
          <div class="short-img"><img class="" src="{{client.general.avatar}}" alt="avatar"/></div>
          <div class="short-name"><p>{{client.general.firstName}} {{client.general.lastName}}, {{client.job.title}}</p>
          </div>
        </li>
      </ul>
    </div>
    <app-client-detail [userList]="this.userList | searchStr : searchString"
                       [activeUser1]="this.activeUser"></app-client-detail>
  </div>
</div>
<router-outlet></router-outlet>
