<h1 >Home page</h1>
<div class="container">
  <div class="row">
    <div class="left-sidebar">
      <div class="search-item">
        <label>Search</label>
        <input type="text" [(ngModel)]="searchString"  name="search">
        <p>{{searchString}}</p>
      </div>

      <ul  *ngFor="let client of this.userList | searchStr : searchString" class="client-list">
        <li class="short-inf">
          <div class="short-img"><img class="" src="{{client.general.avatar}}" alt="avatar"/></div>
          <div class="short-name"><p>{{client.general.firstName}} {{client.general.lastName}}, {{client.job.title}}</p></div>
        </li>
      </ul>
      
    </div>

    <div class="right-preview">
      <h1>Client - details</h1>
      <div class="detail-img" ><img src="{{activeUser.general.avatar}}" alt="avatar"></div>

    </div>

  </div>
</div>
<app-list></app-list>

<router-outlet></router-outlet>
