<header>
  <h3 class="header-title">My test task for Incode </h3>
</header>

<div class="container">
  <div class="row">
    <div class="left-sidebar">
      <div class="search-item">
        <label>Search</label>
        <input type="text" [(ngModel)]="searchString"  name="search" (keypress)="changeActiveUser()"  />
      </div>

      <ul  class="client-list">
        <li *ngFor="let client of this.userList | searchStr : searchString"  class="short-inf" (click)="toggleActiveCli(client)" [ngClass]="{'list-active':isActiveCli(client) }">
          <div class="short-img"><img class="" src="{{client.general.avatar}}" alt="avatar"/></div>
          <div class="short-name"><p>{{client.general.firstName}} {{client.general.lastName}}, {{client.job.title}}</p></div>
        </li>
      </ul>

    </div>

    <div class="right-preview">
        <div class="detail-img" ><img src="{{activeUser.general.avatar}}" alt="avatar"></div>

        <div class="detail-text">
          <h3>Full name: {{activeUser.general.firstName}} {{activeUser.general.lastName}},</h3>
          <p>Company: {{activeUser.job.company}}</p>
          <p>Position: {{activeUser.job.title}}</p>
          <ul>
            Contacts:
            <li>Email: {{activeUser.contact.email}}</li>
            <li>Phone: {{activeUser.contact.phone}}</li>
          </ul>
          <ul>
            Address:
            <li>Street: {{activeUser.address.street}}</li>
            <li>City: {{activeUser.address.city}}</li>
            <li>ZipCode: {{activeUser.address.zipCode}}</li>
            <li>Country: {{activeUser.address.country}}</li>
          </ul>
        </div>
    </div>
  </div>
</div>
<app-list></app-list>

<router-outlet></router-outlet>
